#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: #faebd7;
  color: #000;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.toureiffel.paris%2Fen%2Fnews%2Fhistory-and-culture%2F15-essential-things-know-about-eiffel-tower&psig=AOvVaw0ydb98iPe2qAbHhGsL7q49&ust=1696132736542000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKjPjve40YEDFQAAAAAdAAAAABAE);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input{
  width: 150px;
  height: 30px;
  margin: auto;;
}